<form name="formRegister"  class="form-horizontal" validate>
    <div>
        <div class="modal-header">
            <h4 class="modal-title">Edit User</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">
                <div class="alert alert-warning" role="alert" ng-show="registering"><img src="./img/ajax-loader.gif" alt="Updating user"/> Updating user...</div>
            </div>
          </div>
            
          <div class="row">
            <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">
                <div class="alert alert-danger" role="alert" ng-show="withError">{{errorMsg}}</div>
            </div>
          </div>



          <div class="row">
              <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-md-4" for="login">
                            <span class="text-danger btnRequired" title="Campo obligatorio">*</span>
                            Username
                    </label>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control" id="login" name="login" ng-model="userToEdit.username" readonly/>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-md-4" for="name">
                            <span class="text-danger btnRequired" title="Campo obligatorio">*</span>
                            First name
                    </label>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control" id="name" name="name" ng-model="userToEdit.firstname" required/>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-md-4" for="lastname">
                            <span class="text-danger btnRequired" title="Campo obligatorio">*</span>
                            Last name
                    </label>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control" id="lastname" name="lastname" ng-model="userToEdit.lastname" required/>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-md-4" for="email">
                            <span class="text-danger btnRequired" title="Campo obligatorio">*</span>
                            Email
                    </label>
                    <div class="col-lg-6 col-md-6">
                        <input type="email" class="form-control" id="email" name="email" ng-model="userToEdit.email" required/>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-md-4" for="role">
                            <span class="text-danger btnRequired" title="Campo obligatorio">*</span>
                            Role
                    </label>
                    <div class="col-lg-6 col-md-6">
                        <select  class="form-control input-sm" ng-options="item._id as item._id for item in roles" ng-model="userToEdit.role"></select>
                    </div>
                  </div>
              </div>
          </div>
        </div><!-- End of Modal body -->
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="registering" ng-click="update()">Update</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
</div>
</form>
