<div>
        <div class="modal-header">
            <h4 class="modal-title">Request return</h4>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-lg-3 col-md-3"></div>
              <div class="col-lg-6">
                  <p>Do you want to return this device?</p>
              </div>
              <div class="col-lg-3 col-md-3"></div>
          </div>
        </div><!-- End of Modal body -->
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="request()">Request</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
</div>